spring:
  application:
    name: QuoraApp
  data:
    mongodb:
      host: localhost
      port: 27017
      database: quora_db
      #   I've no username/password currently
      #    username: root
      #    password: root
      auto-index-creation: true
